# Build results
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
.env

# Visual Studio files
.vs/
.vscode/

# ReSharper files
_ReSharper*/
*.DotSettings.user

# NuGet Packages
*.nupkg
*.snupkg
packages/
.nuget/

# Docker files
Dockerfile
.dockerignore

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Git
.git/
.gitignore
.gitattributes
